name: lint

on:
    push:
    pull_request:
        branches: ["main"]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup node
              uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"

            - name: Install dependencies
              run: npm ci

            - name: Formatting
              run: npm run prettier

            - name: ESLint
              run: npm run lint

            - name: Type checks
              run: npm run tsc
